{% load static %}
<!doctype html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Pathwise{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="site-header"><h1>Berya mal mısın gör artık şu yazdıkalrımı ne kadar salaksın ya enfret besliyorum artık ben gerizekalı maymun</h1></header>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
    <footer class="site-footer"><small>© Pathwise</small></footer>
</body>
</html>